<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>


  <!-- =============================== 配置开始  ===============================-->
  <system.serviceModel>

    <!-- services配置 -->
    <services>
      <!-- 单个服务配置 -->
      <!-- 注意: 服务名称必须与服务实现的配置名称相匹配。 -->
      <service name="BLL.WcfDemoService" behaviorConfiguration="BLL.WcfDemoService">
        <!-- 添加下列终结点。 -->
        <endpoint  contract="IBLL.IWcfDemoService"  binding="basicHttpBinding" />
      </service>
      
    </services>
    

    <!-- 行为配置 -->
    <behaviors>
      <!-- 配置单个服务的行为 -->
      <serviceBehaviors>
        <behavior name="BLL.WcfDemoService">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      
    </behaviors>

  </system.serviceModel>
  <!-- =============================== 配置结束  ===============================-->


  <!-- Microsoft.CodeDom.Providers.DotNetCompilerPlatform  -->
  <!-- Microsoft.Net.Compilers -->
</configuration>